<!DOCTYPE html>
<html>

<head>
    <title>Proxy Traffic</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Method</th>
                    <th>Request Headers</th>
                    <th>Request Body</th>
                    <th>Response Headers</th>
                    <th>Response Body</th>
                </tr>
            </thead>
            <tbody>
                <% requests.forEach(function(request) { %>
                    <tr>
                        <td>
                            <%= request.url %>
                        </td>
                        <td>
                            <%= request.time %>
                        </td>
                        <td>
                            <%= request.duration %>ms
                        </td>
                        <td>
                            <%= request.method %>
                        </td>
                        <td>
                            <pre><%= JSON.stringify(request.requestHeaders, null, 2) %></pre>
                        </td>
                        <td>
                            <pre><%= JSON.stringify(request.requestBody, null, 2) %></pre>
                        </td>
                        <td>
                            <pre><%= JSON.stringify(request.responseHeaders, null, 2) %></pre>
                        </td>
                        <td>
                            <pre><%= JSON.stringify(request.responseBody, null, 2) %></pre>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>
<script>
    $(function () {
        $("th").resizable({
            handles: "e"
        });
    });
</script>

</html>